/* Color Palette */

rgb(212, 238, 238)
rgba(165, 206, 206,0.9)

rgb(54,	0,	0);
rgb(134,0,3);
rgb(209,44,31);
rgb(236,	151,7);
rgb(246,	244,	181	);
rgb(125, 192, 185);
rgb(57,99,81);



/* -- */


* {
    box-sizing: border-box;
}

.mobile {
    display: none;
}

header {
    display: none;
}

body {
    /* background-image: -webkit-linear-gradient(rgba(250, 207, 176, 0.7), rgba(255, 255, 255, 0.9)), url(../img/rvs-n-cacti-bg.png); */
    background: linear-gradient(to bottom right,rgb(212, 238, 238) ,rgba(165, 206, 206,0.9));
    /* background-color: rgb(212, 238, 238); */
    background-size: 100%;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

div {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block
}

button {
    border: none;
    background: none;
}

h1 {
    color: rgb(246,	244,	181	);
    text-shadow: 2px 2px rgb(54,	0,	0);
    text-align: center;
    font-family: 'OLD SPORT 01 COLLEGE NCV';
    font-size: 100px;
    font-weight: 50;
    margin: .5em 0 -20px 0;
    padding: 0 0 0 0;
}

h2,
h3 {
    color: rgb(246,	244,	181	);
    text-align: left;
    font-family: 'Glory', sans-serif;
    font-size: 2.1em;
    font-weight: 50;
    margin: 0 0 0 3rem;
    padding: .65em 0 0 0;
}

h4 {
    color: rgb(246,	244,	181	);
    text-shadow: 1px 1px rgb(54,	0,	0);
    font-family: 'Glory', sans-serif;
    font-weight: 50;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
}

h5 {
    color: rgb(246,	244,	181	);
    text-shadow: 1px 1px rgb(54,	0,	0);
    font-family: 'Glory', sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.mobile-banner-zone {
    display: none;
}

.bands i {
    display: inline-block;
    margin-left: 2em;
    font-size: 2em;
    color: rgb(246,	244,	181	);
}

.toggle-zone {
    display: inline-block;
}

.unexpand-reso {
    display: none;
}

.expander-btn {
    display: block;
    transform-origin: center;
    transition: all .2s ease-in-out;
}

.expander-btn:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: white;
    /* text-shadow: 4px 2px rgb(180, 178, 120); */
}

.content {
    display: none;
    margin: 1em;
    padding: 1em;
    width: 55%;
    border-radius: 1em;
}


.reservation-content {
    display: none;
    margin: 0.5em;
    padding: 0.6em;
    padding-top: 0.8em;
    width: 50%;
    height: 26em;
    background-color: rgb(134,0,3);
    border-radius: 1em 1em 0 0;
    justify-content: center;
}

.content p {
    color: rgb(246,	244,	181	);
    font-size: 1.5em;
}

.gallery-content {
    display: none;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
}

.biggest-bg {
    border-radius: 1em;
    width: 100%;
    /* height: 100vh; */
    margin: 0 1em;
}

.bands {
    margin-top: 3em;
}

.colband-init {
    height: 5em;
    transition: 1s;
}

.colband-expanded {
    height: 30em;
    transition: 1s;
}

.colband-1 {
    background-color: rgb(54,	0,	0);
    border-radius: 1em 1em 0 0;
}
.colband-2 {
    background-color: rgb(134,0,3);
}
.colband-3 {
    background-color: rgb(209,44,31);
}
.colband-4 {
    background-color: rgb(236,	151,7);
}
.colband-5 {
    background-color: rgb(57,99,81);
    border-radius: 0 0 1em 1em;
}

/* Ain't gonna use these */

/* .colband-6 {
    background-color: rgb(55, 99, 187);
}
.colband-7 {
    background-color: rgb(7, 45, 119);
}
.colband-8 {
    background-color: rgb(126, 47, 175);
    
} */

.sun {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background-color: rgb(246,	244,	181	);
    position: absolute;
    left: 50%;
    top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    border-radius: 50%;
    width: 490px;
    height: 490px;
    /* background-image: url("../img/hero.png"); */
    background-image: -webkit-linear-gradient(rgba(100, 100, 100, 0.2), rgba(0, 0, 0, 0.3)), url(../img/hero.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#barv-logo {
    width: 26em;
}

footer {
    position: fixed;
    padding: 1em 1em 1em 1em;
    width: 100%;
    height: 4.5em;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0em;
    /* z-index: -1; */
}

footer ul {
    margin: 0 0 0.5em 0;
    padding-left: 0; 
}

footer ul li {
    display: inline-block;
    text-decoration: none;
    margin: 0 0.3em;
    font-size: 2.5em;
}

footer span {
    font-family: 'Indie Flower', cursive;
    margin-top: 1em;
    margin-right: 2em;
}

footer a {
    color: rgb(209,44,31);
    transition: 0.3s;
}

footer a:hover {
    color: rgb(236,	151,7);
    transform: scale(1.2);
    transition: 0.3s;
}

.bands h2 {
    display: inline-block;
}

/* Gallery */

.gallery-content{
    margin: 0.5em;
    padding: 0.5em;
    height: 25em;
    width: 55%;
}

.gallery-pic {
    width: 80%;
    height: 25em;
}

.gallery-content img {
    width: 100%;
    height: auto;
    border-radius: .5em;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-arrow i,
.right-arrow i {
    width: 3em;
    color: rgb(236,	151,7);
    text-align: center;
}

/* Offer */

.offer-content {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 60%;
    margin: 0;
    padding: 0.5em;

}

.offer-column-A,
.offer-column-B,
.offer-column-C {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: rgb(57,99,81);
    height: 20em;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.25em;
}

.offer-column-B {

}

.offer-column-C {
    width: 50%;
}

.offer-content p {
    font-size: 1em;
    margin: 0;
    padding: 0.25em;
}

.offer-content h4 {
    padding-top: 0.25em;
    font-size: 2.5em;
    width: 90%;
    border-bottom: 1px solid rgb(246,	244,	181	);
}

.offer-content h5 {
    font-size: 1.5em;
    padding-top: 0.4em;
}

.offer-content ul {
    margin-top: 0.3em;
    padding-left: 1em;
}

.offer-content li {
    color: rgb(246,	244,	181	);
    font-family: 'Courier New', Courier, monospace;
}

/* Story */

.story-content {
    background: rgb(134,0,3);
}

.story-content p {
    font-size: 1.25em;
}


/* Menu */

.menu {
    display: flex;
    background-color: rgb(125, 192, 185);
    border-radius: 1em;
}

.menu-column-1,
.menu-column-2 {
    display: flex;
    width: 50%;
    align-items: center;
}

.menu h5 {
    border-bottom: 1px solid rgb(246,	244,	181	);
}

.menu ul {
    list-style: none;
    padding: 1em;
    margin-left: 1em;
}

.menu p {
    font-size: 1.15em;
    margin: 0.3em;
    padding: 0;
}


/* MEDIA QUIRIES */

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */

    .biggest-bg,
    main,
    footer {
        display: none;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-header {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 0.5em;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2em;
        height: 2em;
        border-radius: 0.5em;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .hamburger i {
        color: rgb(209,44,31);
        font-size: 2em;
    }

    .banner-bg {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(54,	0,	0);
        width: auto;
    }

    .banner-bg img {
        width: 95%;
    }

    .fade-in {
        animation: fadeIn ease 3s;
        -webkit-animation: fadeIn ease 3s;
        -moz-animation: fadeIn ease 3s;
        -o-animation: fadeIn ease 3s;
        -ms-animation: fadeIn ease 3s;
      }@keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      .fade-out {
        animation: fadeOut ease 8s;
        -webkit-animation: fadeOut ease 8s;
        -moz-animation: fadeOut ease 8s;
        -o-animation: fadeOut ease 8s;
        -ms-animation: fadeOut ease 8s;
      }@keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}